* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'MaruBuri-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background: transparent none;
  border: none;
  cursor: pointer;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
